@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-bg{
  background-color: rgb(17, 17, 17);
}
.cursor-pointer :hover{
  color: white;
}

.fb-button{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size:30px;
}
.resizeBar{
  width : 2px;
  height:100%;
  background-color: rgb(0, 0, 0);
  cursor:e-resize;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.resizeBar :hover{
  background-color: rgb(250, 248, 248);
  opacity: 1;
}

.resizableElement{
  display: flex;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px; /* Adjust scrollbar width as needed */
}


::-webkit-scrollbar-thumb {
  background-color: rgba(75, 73, 73, 0.3); 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(173, 172, 172, 0.3); 
}
